<aside id='admin_panel'>
        <ul>
            <li><a href="/profile">Profil</a></li>
            <ul>
                <li><a href="/profile/settings">Profilindstillinger</a></li>
            </ul>
            <li><a href="/user/artikler">Artikler</a></li>
            <ul>
                <li><a href="/ny_artikel">Opret artikel</a></li>
                <li><a href="/rediger_artikel">Rediger</a></li>
            </ul>
            <li><a href="/admin/brugere">Administrer brugere</a></li>
            <li><a href="/admin/sider">Administrer sider</a></li>
            <!-- <ul> 
                <li>Ret sider</li>
            </ul> -->
            <li><a href="/auth/logout">Log ud</a></li>
        </ul>
    </aside>