<% include partials/head.ejs %>
<aside id='admin_panel'>
    <ul>
        <li>Home</li>
        <li>Opret</li>
        <li>Rediger</li>
        <li></li>
    </ul>


</aside>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>