<% include partials/head.ejs %>

<main>
    <form id="login_form" action="/auth/login" method="POST" autocomplete="off">
      
    
        <div class="inputGroup">
            <h1><%= title %></h1>
            <input type="text" name="username" id="username" value="admin" placeholder="Brugernavn">
            <input type="password" name="passphrase" id="passphrase" value="1234" placeholder="Adgangskode">
            <button type="submit">LOG IND</button>

            <p class="errorMessage"></p>
            

        </div>
        <a href="/opret">Opret bruger</a>
        
    </form>
    
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>