<% include partials/head.ejs %>

<main>
    <form id="login_form" action="/auth/login" method="POST" autocomplete="off">
    
    
        <div class="inputGroup">
            <h1><%= title %></h1>
            <input type="text" name="username" id="username" value="admin" placeholder="Brugernavn" required>
            <input type="password" name="passphrase" id="passphrase" value="1234" placeholder="Adgangskode" required>
            <p class="errorMessage">

                 <!-- <% (typeof errorMessage != 'undefined') ? errorMessage : '' %> -->
        
            </p>
           
            
            <button type="submit">LOG IND</button>

            

        </div>
        <a href="/opret">Opret bruger</a>
        
    </form>
    
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>