<% include partials/head.ejs %>

<main class="wrapper">
        <h1>Filmnyt</h1>
        <header>
                <h2>Artikler</h2>

        </header>
        

    
    
</main>


<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>