<% include partials/head.ejs %>

<main class="wrapper">
        <h1>Filmnyt</h1>
        <header>
                <h2>Artikler</h2>
                <ul>
                <% menu.forEach( result =>{ %>
                        <li><%= result.menu_name %></li>
                <% }) %>
                </ul>

        </header>
        <% results.forEach( result =>{ %>
                <div class="articles">
                    <h2><%= result.heading %></h2>
                    <p><%= result.description %></p>
                </div>
        <% }) %>

    
    
</main>


<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>