<% include partials/head.ejs %>
<section class="profile">
<% include partials/admin-panel.ejs %>

<main>
<h1>PROFIL</h1>
<h2> Velkommen <%= user.username %></h2>
<img src="">
<p><%= user.firstname %> <%= user.lastname %></p>
<p><%= user.bio %></p>



</main> 
</section>

<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>