<% include partials/head.ejs %>
<section class="profile">
<% include partials/admin-panel.ejs %>

<main>
<h1>PROFIL</h1>
<form action="/profile/settings" method="patch" class="profileForm" autocomplete="off">
	<div class="inputGroup">
		<label>Brugernavn
			<input type="text" name="username" value="<%= results.username %>" disabled>
		</label>
	</div>
	<div class="inputGroup">
		<label>Fornavn
			<input type="text" name="firstname" value="<%= results.firstname %>">
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Efternavn
			<input type="text" name="lastname" value="<%= results.lastname %>">
		</label>
	</div>

	<div class="inputGroup">
		<label>
			Beskrivelse
			<textarea name="bio"><%= results.bio %></textarea>
		</label>
	</div>
	<button type="submit">Gem</button>

</form>

<script>
const form = document.querySelector('.profileForm');

form.addEventListener('submit', event => {
event.preventDefault();
let option = {
	cache : 'no-cache', 
	headers : {
		'content-type' : 'application/json'
	},
	method : 'PATCH',
	mode : 'cors',
	redirect : 'follow',
	referrer : 'no-referrer',
	body : JSON.stringify({
		firstname : form.firstname.value,
		lastname : form.lastname.value,
		bio : form.bio.value
	})
};

fetch(`/profile/settings`, option)
.then(response => {
	if(response.status === 200){
		console.log('yes we can');
		window.location.href = `http://localhost:4040/profile/settings`
	}else{
		console.log('nej');
	}
}); 
});
		

</script>
</main> 
</section>

<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>