a{
    color:#FFF;
    text-decoration: none;
}
#login_form a{
    padding: 2%;
    text-align: right;
}
textarea{
    resize: none;
}
.aBtn{
    border-radius: 10px;
    background-color: #1f1c3d;
}
.delBtn{
    border-radius: 10px;
    background-color: #b32121;
    
}
textarea{
    font-family: 'Roboto', sans-serif;
  }