a{
    color:#FFF;
    text-decoration: none;
}
#login_form a{
    padding: 2%;
    text-align: right;
}
textarea{
    resize: none;
}
.aBtn, .delBtn{
    border-radius: 10px;
    background-color: #1f1c3d;
    color: #FFF;
    border:none;
    cursor: pointer;
}
.delBtn{
    background-color: #b32121;
}
textarea{
    font-family: 'Roboto', sans-serif;
  }

.errorMessage{
    color: rgb(192, 192, 192);
    text-shadow: none;
    background-color: #585858;
    border-radius: 5px;
}
.opretBtn{
    text-align: right;
    margin: 1em 0;
    width: 105%;
}
.opretBtn a{
    background-color: rgb(85, 190, 102);
    display:inline;
    padding: 2%;
    border-radius: 10px; 
    
}
