body{
    margin: 0;
    background-color: rgb(73, 83, 143);
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    max-width: 900px;
    margin: 1% auto;
    background-color:rgb(53, 64, 128); 
    height: 80.2vh;
    border-radius: 10px;
    padding: 1%;
}


.main_menu{
    background-color: rgb(51, 51, 51);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 0;
}
.main_menu li{
    display: inline;
}

footer{
    background-color: rgb(51, 51, 51);
    padding: 2%;
    border-right:solid 2px rgb(29, 29, 29);
    border-top:solid 4px rgb(29, 29, 29);
    border-radius: 20px 20px 0 0;
}
.profile{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas: 'adminPanel profile';
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin-bottom: 2em;

}
#admin_panel{
    background-color: rgb(51, 61, 114);
    grid-area: adminPanel;
    height: 90vh;
}
#newArticle{
   margin: 0 auto; 
   width: 40%;
}
#newArticleForm{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(51, 61, 114);
    padding: 4%;
    border-radius: 20px;
}
#newArticleForm input, #newArticleForm textarea{
    margin-bottom: 2em;
}
#newArticleForm button{
    width: 20%;
}