#login_form{
    display: grid;
    justify-content: center;
    margin: 10em auto;
    width: 15%;
    color: #ffffff;
    text-shadow: 3px 2px 0px #363636;
}
#login_form div{
    background-color: #505050;
    border-radius: 5px 10px 5px 10px;
    padding: 4%;
    text-align: center; 
    border-right: solid 5px #353535;
    border-top: solid 3px #353535;
}
#login_form input, #newArticleForm input, #newArticleForm textarea{
    margin: 2%;
    padding: 5%;
    border-radius: 5px;
    border: none;
    background-color: #585858;
    border-right: solid 1.5px #353535;
    border-top: solid 1.5px #353535;
    color: #ebebeb;
}
#newArticleForm input, #newArticleForm textarea{
  padding: 2%
}


#login_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#ebebeb;
  }
  #login_form  ::-moz-placeholder { /* Firefox 19+ */
    color: #ebebeb;
  }
  #login_form  :-ms-input-placeholder { /* IE 10+ */
    color: #ebebeb;
  }
  #login_form  :-moz-placeholder { /* Firefox 18- */
    color: #ebebeb;
  }
#login_form button{
    border: none;
    background-color: rgb(127, 211, 141);
    padding: 4%;
    width: 40%;
    border-radius: 5px;
    margin: 4%;
    border-top:solid 2px rgb(102, 190, 117);
    border-right:solid 3px rgb(102, 190, 117);
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
.articleListTable{
 border-collapse: collapse;
  background-color: #505050;
  border-radius: 10px;
  width: 100%;
}
.articleListTable td{
  padding: 2%;
  padding-right: 10px;
}
.articleListTable tr:nth-child(even){
  background-color: #353535;
}
.articles{
  background-color: #505050;
  border-radius: 10px;
  border-right: solid 5px #353535;
  border-top: solid 3px #353535;
  padding: 3%;
  width: 100%;
  margin-bottom: 2em; 
}

.dataTable{
  width: 80%;
  margin: 0 auto;
}